@import url('https://fonts.googleapis.com/css?family=Lato');
body {
  font-family: "Lato", "Verdana", sans-serif;
  line-height: 1.4;
}

.header{
  padding-top: 10vh;
  padding-bottom: 20vh;
  text-align: center;
  background-image: url("./HomePage.jpg");
  background-size: 100% 100%;
}

.header h1{
  color: white;
  font-size: 30px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}


.card-wrapper{
  text-align: center;
}

.card{
  background-color: #f1f1f1;
  display: inline-block;
  width: 31%;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 10px;
}

.card img{
  width: 100%;
}
